:root {
	/* ------- colors ------- */
	--primary-color: #131334;
	--secondary-color: #32476c;
	--tertiary-color: #35353f;
	--quaternary-color: #e4e4e7;
	--link-color: #1710d4;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
